body{
    margin: 0px 0px 0px 0px;

}
#cuerpo{
    position: relative;
    margin-top: -100px;
    
}
#encabezado{
    width: 100%;
    background:  #BBB;
    //background-image: url("../img/cabeceraFondo.png") ;
    background-repeat: repeat-x;
    height: 200px;
    //margin: 0 auto 0 auto;
}
#encabezado2{
    //background-image: url("../img/cab2.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 1200px;
    //margin: 0 auto 0 auto;
    margin:  auto;
    background: #FFF;
}
#cinta1{
    height: 10px;
    width: 100%;
    background: #204C7D;
}

#cinta2{
    height: 10px;
    width: 100%;
    background: #204C7D;
}
#botonera{
    height: 0px;   
    width: 40%;
    position: absolute ;
    top: 125px;
   
    
}

#pieDePagina{
    width: 100%;
    background: #204C7D;
    //background-image:  url("../img/piePagina");
    margin: 0 auto 0 auto;
    position: relative;
    height: 100px;
    margin-top: 50px;
    text-align: center;
}
p{
    p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
}

