
ul#main-nav li {
    float: left;
    position: relative;
    display: inline;
    //margin-left: -20px;
}
ul#main-nav {
    margin-left: 20px;
}

ul#main-nav li a {
    position: relative;
    width: 110px;
    height: 29px;
    display: block;
    background-image: url('../img/tab1.png');
    background-position: center center;
    color: #44403b;
    text-decoration: none;
    font-size: 14px;
    padding-top: 12px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
}
ul#main-nav li.home a {
    background-image: url('../../img/tab1.png');
}
ul#main-nav li.current a {
    background-position: top;
    color: #ffffff;
}
ul#main-nav li a:hover {
    background-position: bottom;
    color: #ffffff;
}
ul#main-nav li.current a:hover {
    background-position: top; /*To Prevent the Current tab from changing colour on hover*/
}

ul#main-nav li.current {
    z-index: 100;
}
ul#main-nav li.home {
    z-index: 100;
}
ul#main-nav li.portfolio {
    z-index: 99;
}
ul#main-nav li.services {
    z-index: 98;
}
ul#main-nav li.about {
    z-index: 97;
}
ul#main-nav li.contact {
    z-index: 96;
}